

body {
    display: flex;
    height: auto;
    overflow-x: hidden;
}

#main{
    
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
    padding-right: 33px;

    background-color: #F7F8FC;
}
nav {
    height: auto;
    width: 255px;
    background-color: #363740;
}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-left: 32px;
    margin-top: 41px;
}

.dashboard>h4 {
    color: #A4A6B3;
    opacity: 0.7;
    font-family: Muli;
    font-weight: 700;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 0.4px;

    margin-top: 6px;

}

#navcolumns {
    margin-top: 50px;
}

#activenav {
    color: #DDE2FF;
}

#activeitem {
    background: rgba(159, 162, 180, 0.08);
    /* opacity: 8%; */
    border-left: 3px solid #DDE2FF;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav>ul>li>svg {
    margin-left: 32px;
}

.nav-link {
    height: 56px;
    color: #A4A6B3;
    font-family: Muli;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.2px;
    text-align: center;

    display: flex;
    align-items: center;

    margin-left: 10px;

}

.hr {
    width: 255px;
    border: 1px solid #DFE0EB;
}

#overview {
    display: flex;
    width: 83.3vw;
    height: 96px;
    padding: 40px 33px 10px 10px;
    gap: 20px;
    background-color: #F7F8FC;
    

}

#overview div {
    display: flex;
    justify-content: space-between;
    width: 82.6vw;
    height: 44px;
    
    align-items: center;
    /* gap: 750px; */
    background-color: #F7F8FC;
    padding-right: 18px;


}
#overview div div{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 25px;
}


#overview h1 {

    font-family: Muli;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.3px;


    margin-left: 20px;
 
}
#overview img{
    border-radius: 50%;
    border: 2px solid #F7F8FC; 
    outline: 2px solid #DFE0EB; 
   
}

#overview p{
    font-family: Muli;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: right;

    margin: 0;
    border-left: 2px solid #DFE0EB;
    padding-left: 30px;
    height: 32px;
    line-height: 32px;

}

/* cards */
.row{
    display: flex;
    justify-content: space-between;

    margin-left: 20px;
    margin-right: 47px;
}
.col-sm-6{
    width: 258px;
    height: 134px;
}
.card{
    width: 258px;
    height: 134px;
    border-width: 1px;
    border-radius: 8px;
    border: 1px solid #DFE0EB

}
#cardhighlight{
    border: 1px solid #3751FF;
    box-shadow: 0px 0px 3px 0px #3751FF;;
    
}
#highlight{
    color: #3751FF;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-text{
    font-family: Muli;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #9FA2B4;

    top: 24px;
    left: 32px;


}

.card-title{
    font-family: Muli;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;

}

/* graph */

#graph{
    width: 1211px;
}

#graph div{
    width: 1211px;
    height: 546px ;
    border-radius: 8px;
    border-width: 1px;

    margin-left: 16px;
}
#gridgraph{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* tickets & tasks */
#last{
    display: flex;
    gap: 30px;

    margin-left: 31px;
  
}

#last .card{
    width: 590px;
    height: 336px;
}

#last .card-body{
    width: 590px;
    height: 336px;
    border-width: 1px;
    border-radius: 8px;
}
